<%= form_for([@post, @comment]) do |f| %>
		<p class="form-group">
			<%= f.label :Nome %><br/>
			<%= f.text_field :name, autofocus: true, class:"form-control" %>
		</p>
		<p class="form-group">
		<%= f.label :Comentário %><br/>
		<%= f.text_area :comment, placeholder:"Escreva seu comentário..." , class:"form-control" %>
		</p>
		<p>
			<%= f.submit class:'btn btn-primary' %>
			<%= link_to 'Cancelar', root_path , class: 'btn btn-default' %>
		</p>
	<% end %>