<div class="container">
<% if @post.comments.size > 0 %>
	<div class="jumbotron">
		<ul>
			<% @comments.each do |comment| %>
			<li>
				<p>
					<%= comment.name %> <small class="small_font"> - <%= time_ago_in_words(comment.created_at) %> atrás</small>
				</p>
				<p>
					<%= comment.comment %>
				</p>
			</li>
			<% end %>
		</ul>
	</div>
	<% else %>
	<div class="jumbotron">
		<h3>Não existem comentários!</h3>
	</div>
	<% end %>

	<%= link_to posts_path , class:'btn btn-link' do %>
	<i class="glyphicon glyphicon-home"> Posts</i>
	<% end %>
</div>
