<div class='container'>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Criando novo Comentário</h2>
	</div>
	<div class="panel-body">

	<%= render 'form' %>
	
	</div>
</div>
</div>