<%= form_for @post, :html => { :multipart => true } do |f| %>
  <!-- Codigo para mostrar os erros -->
  <% if @post.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <!-- formulario para criaçao de um novo post -->
  <p class="form-group">
    <%= f.label :título %>
    <%= f.text_field :titulo , class:"form-control" %>
  </p>

  <p class="form-group">
    <%= f.label :conteúdo %>
    <%= f.text_area :conteudo, cols:20, rows:5, class:"form-control" %>
  </p>

  <p class="form-group">
    <%= f.label :data %>
    <%= f.date_select :data, class:"form-control" %>
  </p>

  <div class="field">
    <%= f.label :imagem %>
    <%= f.file_field :avatar %>
  </div>


  <p>
    <%= f.submit class:'btn btn-primary' %>
    <%= link_to 'Cancelar', root_path , class: 'btn btn-default' %> <!-- link para cancelar uma nova postagem e voltar a pagina inicial -->
  </p>
<% end %>
