<div class='container'> <!-- centralizar o painel -->
<div class="panel panel-default">
  <div class="panel-heading">
  	<h2>Editando Post</h2>
  </div>
  <div class="panel-body">
    <%= render 'form', post: @post %>
  </div>
</div>
</div>

<!-- links para mostrar ou voltar na pagina de editar post -->
<%= link_to 'Mostrar', @post %> |
<%= link_to 'Voltar', posts_path %>
