<h1>Blog Notícias Digitais da Renata</h1>

<!-- Page Content -->
  <div class="container">

    <!-- Page Heading -->
    <div class="row"
      <div class="col-lg-12">
        <h4 class="page-header"><%= pluralize(@posts.size, "Postagem", "Postagens") %>
        <small class="novo_post" ><%= link_to "Novo Post", new_post_path, class: 'btn btn-warning' %></small>  <!-- link novo post na pagina inicial -->
        </h4>
      </div>
    </div>
    <!-- /.row -->

    <!-- Project One -->
    <% @posts.reverse.each do |post| %>  <!-- uso do reverse para que os posts mais recentes apareçam por cima -->
    <div class="row">
      <div class="col-nd-2">
        <h4><%= link_to post.titulo, post %></h4>  <!-- link para os titulos dos posts -->
        <p><%= image_tag post.avatar.url(:thumb) %></p>
      </div>
      
      <div class="col-nd-7">
        <p><%= truncate(post.conteudo, lenght: 15 , separator: '') %></p>
        <h5><%=h post.data.to_s(:long) %></h5>  <!-- data inserida como string -->
      </div>
    </div>
    <hr>

<% end %>

<p>
  <%= link_to "Download Excel", posts_path(format: :xlsx), class: 'btn btn-danger'%>  <!-- link para download do excel -->
</p>

