<div class='container'> <!-- centralizar o painel -->
<div class="panel panel-default">
  <div class="panel-heading">
  	<h2>Novo Post</h2>
  </div>
  <div class="panel-body">
    <%= render 'form', post: @post %>
  </div>
</div>
</div>
