<div class="container">
<div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Conteúdo:</strong>
  <%= @post.conteudo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @post.data.to_s(:long) %>
</p>

<p>
<strong>Imagem:</strong>
<%= image_tag @post.avatar.url(:thumb) %>
</p>

<%= link_to pluralize(@post.comments.size, 'Comentário', 'Comentários'), post_comments_path(@post) %> <!-- link para visualizaçao dos comentarios -->

<%= link_to 'Novo Comentário', new_post_comment_path(@post), class: 'btn btn-primary' %> <!-- link para inserir novo comentario -->

</div>

<!-- link para voltar para pagina inicial -->
<%= link_to posts_path , class:'btn btn-link' do %>
	<i class="glyphicon glyphicon-home"> Blog</i>
<% end %>

<!-- link para editar uma postagem -->
<%= link_to edit_post_path(@post), class:'btn btn-link' do %>
	<i class="glyphicon glyphicon-edit"> Editar</i>
<% end %>

<!-- link para deletar uma postagem -->
<%= link_to @post, :confirm => "Deseja apagar?", :method => :delete, class:'btn btn-link' do %>
	<i class="glyphicon glyphicon-remove-sign"> Deletar</i>
<% end %>
</div>






