// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 $font_size:12px;

 .small_font {
 	font-size:$font_size;
 }

 .novo_post {
 	float:right;
 }