<!DOCTYPE html>
<html>
<head>
	<title>Projeto</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
</head>
<body>

<!-- Barra de navegaçao -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to image_tag('blog.jpg', size:'30', alt:'blog'), root_path, class:'navbar-brand' %>
      <%= link_to 'Posts', root_path, class:'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Posts', root_path %></li>

        <!-- Devise -->
        <% if user_signed_in? %> <!-- Se usuario estiver logado -->
    			<li>Logado com <%= current_user.email %></li>
    			<li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
		<% else %> <!-- Senao -->
			    <li><%= link_to "Cadastro de novo usuário", new_user_registration_path %></li>
			    <li><%= link_to "Logar", new_user_session_path %></li>
		<% end %>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
<%= yield %>
  
</body>
</html>
